In [39]:
#Importing the dependency
import pandas as pd

In [ ]:
#Reading the csv file
df = pd.read_csv('concated.csv')

In [4]:
df.head()

,Unnamed: 0,HotelName,HotelPrice,HotelAddress,HotelRatings,AuthorName,Authorlocation,Review,title,Service,Cleanliness,Overall,Value,Sleep Quality,Rooms,Location,"Business service (e.g., internet access)",Check in / front desk
0,0,Hilton Garden Inn Baltimore White Marsh,$135 - $193*,"5015 Campbell Blvd, Baltimore, MD 21236","{'Service': '5', 'Cleanliness': '5', 'Overall'...",Nadine R,"Jacksonville, Florida","Usually stay near the airport, but this trip w...",“Great place and location”,5.0,5.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN
1,1,Hilton Garden Inn Baltimore White Marsh,$135 - $193*,"5015 Campbell Blvd, Baltimore, MD 21236","{'Service': '4', 'Cleanliness': '4', 'Overall'...",blt3116,"Chillicothe, Ohio",Stayed at this Hilton for 2 nights. It was lik...,"“Nice stay, nice surroundings”",4.0,4.0,4.0,4.0,4.0,4.0,5.0,NaN,NaN
2,2,Hilton Garden Inn Baltimore White Marsh,$135 - $193*,"5015 Campbell Blvd, Baltimore, MD 21236","{'Service': '5', 'Cleanliness': '5', 'Overall'...",ExSpec5,Northern Virginia,"Stayed there one night, December 16, on the wa...",“Perfect for an overnight just off I-95”,5.0,5.0,4.0,3.0,3.0,5.0,5.0,NaN,NaN
3,3,Hilton Garden Inn Baltimore White Marsh,$135 - $193*,"5015 Campbell Blvd, Baltimore, MD 21236","{'Service': '5', 'Cleanliness': '5', 'Overall'...",kevinlynch3,Raleigh,I just stayed here last weekend and have alrea...,“Great Hotel”,5.0,5.0,5.0,4.0,5.0,5.0,5.0,NaN,NaN
4,4,Hilton Garden Inn Baltimore White Marsh,$135 - $193*,"5015 Campbell Blvd, Baltimore, MD 21236","{'Service': '5', 'Cleanliness': '5', 'Overall'...",nobumponalog,"Belmont, MA",My mother who is 90 and I stayed one night on ...,“good room for handicapped person”,5.0,5.0,5.0,4.0,5.0,5.0,5.0,NaN,NaN

In [40]:
#Droping the unwanted columns
df.drop(['HotelRatings','HotelAddress','HotelName','Unnamed: 0','Authorlocation','AuthorName'],axis=1,inplace=True)

In [41]:
df.head()

,HotelPrice,Review,title,Service,Cleanliness,Overall,Value,Sleep Quality,Rooms,Location,"Business service (e.g., internet access)",Check in / front desk
0,$135 - $193*,"Usually stay near the airport, but this trip w...",“Great place and location”,5.0,5.0,5.0,5.0,5.0,5.0,5.0,NaN,NaN
1,$135 - $193*,Stayed at this Hilton for 2 nights. It was lik...,"“Nice stay, nice surroundings”",4.0,4.0,4.0,4.0,4.0,4.0,5.0,NaN,NaN
2,$135 - $193*,"Stayed there one night, December 16, on the wa...",“Perfect for an overnight just off I-95”,5.0,5.0,4.0,3.0,3.0,5.0,5.0,NaN,NaN
3,$135 - $193*,I just stayed here last weekend and have alrea...,“Great Hotel”,5.0,5.0,5.0,4.0,5.0,5.0,5.0,NaN,NaN
4,$135 - $193*,My mother who is 90 and I stayed one night on ...,“good room for handicapped person”,5.0,5.0,5.0,4.0,5.0,5.0,5.0,NaN,NaN

In [42]:
#Checking the null values
(df.isnull().sum(axis=0)/len(df))*100

HotelPrice                                   0.000000
Review                                       0.000000
title                                        0.000000
Service                                      9.054203
Cleanliness                                  9.181028
Overall                                      0.000000
Value                                        9.029691
Sleep Quality                               47.947068
Rooms                                       17.773840
Location                                    22.571790
Business service (e.g., internet access)    89.300052
Check in / front desk                       82.523484
dtype: float64

In [43]:
#Droping nulls with high percentage
df.drop(['Sleep Quality','Business service (e.g., internet access)','Check in / front desk'],axis=1,inplace=True)

In [48]:
#Droping the row which no overall rating 
df.drop(df[df.Overall == '0.0'].index, inplace = True)

In [49]:
df.Overall.value_counts()

5.0    615476
4.0    463650
3.0    195121
2.0    103418
1.0     99173
Name: Overall, dtype: int64

In [51]:
df["ReviewDetails"]=df['title']+" "+df["Review"]

In [9]:
df.head()

,HotelPrice,Review,title,Service,Cleanliness,Overall,Value,Rooms,Location,ReviewDetails
0,$135 - $193*,"Usually stay near the airport, but this trip w...",“Great place and location”,5.0,5.0,5.0,5.0,5.0,5.0,“Great place and location” Usually stay near t...
1,$135 - $193*,Stayed at this Hilton for 2 nights. It was lik...,"“Nice stay, nice surroundings”",4.0,4.0,4.0,4.0,4.0,5.0,"“Nice stay, nice surroundings” Stayed at this ..."
2,$135 - $193*,"Stayed there one night, December 16, on the wa...",“Perfect for an overnight just off I-95”,5.0,5.0,4.0,3.0,5.0,5.0,“Perfect for an overnight just off I-95” Staye...
3,$135 - $193*,I just stayed here last weekend and have alrea...,“Great Hotel”,5.0,5.0,5.0,4.0,5.0,5.0,“Great Hotel” I just stayed here last weekend ...
4,$135 - $193*,My mother who is 90 and I stayed one night on ...,“good room for handicapped person”,5.0,5.0,5.0,4.0,5.0,5.0,“good room for handicapped person” My mother w...